@charset "utf-8";

@font-face {
	font-family: 'PxPlus';
	src: url('PxPlus_IBM_VGA8.ttf') format('truetype');
}

.unicodetiles {
	font-family: "PxPlus";
	white-space: pre;
	text-align: center;
	line-height: 1;
	letter-spacing: 0px;
	display: inline-block;
}

.unicodetiles div {
	float: left;
	height: 1em;
}

.unicodetiles br {
	clear: both;
}
